Flask==1.1.1
numpy==1.18.1
certifi==2022.12.7
click==7.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
pandas==1.0.2
pip==20.0.2
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
setuptools==46.0.0.post20200309
six==1.14.0
Werkzeug==1.0.0
wheel==0.34.2
wincertstore==0.2
